section.choice
    .container.choice__container
        .choice__box
            label(for="choice1")
            input(type="radio" name="choice" id="choice1" checked="checked")
            .choice__box-img
                img(src="img/choice/svg1.svg", alt="")
            span.choice__box-text Техника
        .choice__box
            input(type="radio" name="choice" id="choice2")
            label(for="choice2") 
            .choice__box-img
                img(src="img/choice/svg2.svg", alt="")
            span.choice__box-text Каталог запчастей
        .choice__box
            input(type="radio" name="choice" id="choice3")
            label(for="choice3") 
            .choice__box-img
                img(src="img/choice/svg3.svg", alt="")
            span.choice__box-text Ремонт техники
        .choice__box
            input(type="radio" name="choice" id="choice4")
            label(for="choice4") 
            .choice__box-img
                img(src="img/choice/svg4.svg", alt="")
            span.choice__box-text Средства защиты растений и удобрения