footer.footer
    .container.footer__container
        .footer__logo
            img.logo(src="img/logo/logo.svg", alt="")
            .logo__name
                .logo__name-one Агроспецзапчасть<br>Агродом
        .footer__center
            ul.footer__menu
                li.footer__menu-item
                    a(href="") Каталог
                li.footer__menu-item
                    a(href="") Доставка и оплата
                li.footer__menu-item
                    a(href="") Партнёры
                li.footer__menu-item
                    a(href="") Блог
                li.footer__menu-item
                    a(href="") Наше оборудование
                li.footer__menu-item
                    a(href="") Контакты
        .footer__right-side
            .footer__contact
                a(href="")
                    img(src="img/footer/phone.svg", alt="")
                    span (8422) 68-68-60 