header.header
    .container.header__container 
        .header__logo
            img.logo(src="img/logo/logo.svg", alt="")
            .logo__name 
                span.logo__name-top группа компаний<br>
                .logo__name-sub Агроспецзапчасть<br>Агродом
        .header__center
            ul.header__menu
                li.header__menu-item
                    a(href="#") Каталог
                li.header__menu-item
                    a(href="#") Доставка и оплата
                li.header__menu-item
                    span О группе компаний
                    img(src="img/svg/sprites.svg", alt="")
                    ul.header__sub-menu 
                        li.header__sub-menu-item
                            a(href="#") О нас
                        li.header__sub-menu-item
                            a(href="#")  Партнеры
                        li.header__sub-menu-item
                            a(href="#")  Галерея

                li.header__menu-item
                    a(href="#") Полезно знать
                li.header__menu-item
                    a(href="#") Контакты
        .header__right-side
            input.search.header__search(type="search")
            .contact.header__contact
                ul.social.header__social 
                    li.header__social-item
                        a(href="")
                            img(src="img/social/facebook.svg", alt="facebook")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/facebook.svg", alt="facebook")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/insta.svg", alt="instagram")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/ok.svg", alt="odnaklassniki")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/vk.svg", alt="vk")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/youtube.svg", alt="youtube")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/mail.svg", alt="mail")
                    li.header__social-item
                        a(href="")
                            img(src="img/social/zen.svg", alt="zen")
                ul.message.header__message
                    li.header__message-item
                        a(href="")
                            img(src="img/message/viber.svg", alt="")
                        a(href="")
                            img(src="img/message/whatsapp.svg", alt="")
                    li.header__message-item
                            a(href="")
                                img(src="img/message/phone.svg", alt="")
                                span (8422) 68-68-60 
                                
