mixin card-info(vars)
    .card-info
        .card-info__img
            img(src="img/card/def.jpg", alt="")
        h3.title.title-h3.card-info__title Новое поступление запчастей на ваш склад
        p.card-info__description боковины (сормайт), держатели КПЦ, диски БДМ крылья отвала, отвалы, корпуса подшипников стойки поворота режущего угла (55 мм) лемеха наплавленные
        .card-info__data
            span.card-info__data-type Новость
            span.card-info__data-data 12 января 2022
